<h1>GitHub Issues</h1>
<div class="my-5 border-b-2 border-blue-600"></div>

<section class="grid grid-cols-1 sm:grid-cols-3 gap-2">
  <div class="flex flex-col col-span-3">
    <div class="flex gap-2">
      <button
        class="btn"
        [class.active]="selectedState() === 'all'"
        (click)="showIssuesByState('all')"
      >
        All
      </button>
      <button
        class="btn"
        [class.active]="selectedState() === 'open'"
        (click)="showIssuesByState('open')"
      >
        Open
      </button>
      <button
        class="btn"
        [class.active]="selectedState() === 'closed'"
        (click)="showIssuesByState('closed')"
      >
        Closed
      </button>
    </div>
  </div>

  <!-- List -->
  <div class="mt-4 flex flex-col col-span-2">
    <h3>Issues</h3>
    @if (issuesQuery.isLoading()) {
      <p>Loading...</p>
    } @else {
      @for (issue of issuesQuery.data(); track $index) {
        <issue-item [issue]="issue"></issue-item>
      }
    }
  </div>

  <!-- Labels -->
  <div class="mt-4 flex flex-col">
    <h3>Label</h3>
    @if (labelsQuery.isLoading()) {
      <p>Loading...</p>
    } @else {
      <labels-selector [labels]="labelsQuery.data() || []"></labels-selector>
    }
  </div>
</section>
